.photo-gallery {
  display: flex;
  height: 50rem;
  max-width: 70rem;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-button {
  height: 100%;
  opacity: 0.65;
  background-color: #000;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav-button:focus {
  outline: 2px solid turquoise;
}

.slider {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.slide-container {
  position: relative;
}

.image-container {
  height: 100%;
  width: 70rem;
  margin-top: 5rem;
}

img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.img-caption-container {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
}

.clamp-lines__button {
  color: white;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  text-transform: uppercase;
  border-radius: none;
  cursor: pointer;
  ouline: none;
  transition: all 0.5s;
}

.clamp-lines__button:hover {
  border: 2px solid black;
  border-radius: none;
  outline: none;
  background-color: black;
  color: white;
}

.clamp-lines__button:focus {
  border: 2px solid black;
  border-radius: none;
  outline: none;
}

.MuiFab-root.fab-button.-left {
  position: absolute;
  opacity: 0.5;
  transition: opacity 1s;
  z-index: 1;
  top: 45%;
  left: 1rem;
}

.MuiFab-root.fab-button {
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.5s;
  z-index: 1;
  top: 45%;
}

.MuiFab-root.fab-button.-left {
  left: 1rem;
}

.MuiFab-root.fab-button.-right {
  right: 1rem;
}

.MuiFab-root.fab-button.fab-button:hover {
  opacity: 1;
}
