.photo-gallery {
  display: flex;
  height: 40rem;
  max-width: 70rem;
  position: relative;
}

.nav-button {
  height: 100%;
  opacity: 0.65;
  background-color: #000;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav-button:focus {
  outline: 2px solid turquoise;
}

.slider {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.image-container {
  display: inline-block;
  height: 40rem;
  width: 70rem;
  flex: 0 0 auto;
}

img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.MuiFab-root.fab-button.-left {
  position: absolute;
  opacity: 0.5;
  transition: opacity 1s;
  z-index: 1;
  top: 45%;
  left: 1rem;
}

.MuiFab-root.fab-button {
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.5s;
  z-index: 1;
  top: 45%;
}

.MuiFab-root.fab-button.-left {
  left: 1rem;
}

.MuiFab-root.fab-button.-right {
  right: 1rem;
}

.MuiFab-root.fab-button.fab-button:hover {
  opacity: 1;
}
