.photo-gallery {
  display: flex;
  height: 60rem;
  max-width: 70rem;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-button {
  height: 100%;
  opacity: 0.65;
  background-color: #000;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav-button:focus {
  outline: 2px solid turquoise;
}

.slider {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.slide-container {
  display: inline-flex;
  flex-direction: column;
}

.image-container {
  height: 100%;
  width: 70rem;
}

img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.img-caption {
  color: black;
  background-color: white;
  font-size: 15pt;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 5rem;
  padding: 1rem 0.5rem;
  overflow-y: scroll;
  max-height: 5rem;
  z-index: 1;
  width: 69rem;
}

.MuiFab-root.fab-button.-left {
  position: absolute;
  opacity: 0.5;
  transition: opacity 1s;
  z-index: 1;
  top: 45%;
  left: 1rem;
}

.MuiFab-root.fab-button {
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.5s;
  z-index: 1;
  top: 45%;
}

.MuiFab-root.fab-button.-left {
  left: 1rem;
}

.MuiFab-root.fab-button.-right {
  right: 1rem;
}

.MuiFab-root.fab-button.fab-button:hover {
  opacity: 1;
}
