.slider {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.image-container {
  display: inline-block;
  height: 40rem;
  width: 80rem;
}

img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
